.search {
  font-size: 40px;
  padding: 10px;
  background-color: #ADF4D1;
  color: #0B5431;
  border: 6px solid #0B5431;
  border-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.search:focus {
  outline: none;
}

::placeholder {
  color: rgba(11, 84, 49, 70%);
}

@media (max-width: 600px) {
  .search {
    border: 3px solid #0B5431;
    max-width: 70%;
    padding: 8px;
    font-size: 35px;
  }
}
